apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Values.environment }}{{- if .Values.siteIdentifier }}-{{ .Values.siteIdentifier }}{{- end }}-admin
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: k8s
  target:
    creationPolicy: Owner
  data:
  - secretKey: admin-user
    remoteRef:
      key: {{ .Release.Name }}-initial-admin
      property: username
  - secretKey: admin-password
    remoteRef:
      key: {{ .Release.Name }}-initial-admin
      property: password